.d {
  /* color: #774041b3; */
  /* color:#66023C; */
  color: rgb(102, 2, 60);
  color: #e38a467f;
  color: #420027;
  color: #f9f971cf;
  /* LRV: 7 */
}

/* Color	Hex	RGB
#851a1a	(133,26,26)
#385698	(56,86,152)
#1d1f63	(29,31,99)
#404189	(64,65,137)
#871a1a	(135,26,26) */

/* #66023C */
